<footer>
    <div class="foot-logo">
        <a href="http://localhost:3000/"><img src="/assets/logo_blanc.png"></a>
    </div>
    <div class="social">
        <p>Visit us in our social media accounts!</p>
        <div class="flex icon">
            <a href="#linkedin"><img src="/assets/logo_linkedin.png"></a>
            <a href="#twitter"><img src="/assets/logo_twitter.png"></a>
            <a href="#facebook"><img src="/assets/logo_facebook.png"></a>
        </div>
    </div>

</footer>