<header>
    <div>
        <a href="http://localhost:3000/"><img src="/assets/full_logo_white.png"></a>
    </div>
    <div>
        <p class="title">Scheduling Website</p>
    </div>
    <div class="links">
        <p></p>
        <p><a href="http://localhost:3000/users">Users</a></p>
        <p><a href="http://localhost:3000/schedules">Schedules</a></p>
        <p><a href="http://localhost:3000/users/new">Add&nbsp;Users</a></p>
        <p><a href="http://localhost:3000/schedules/new">Add&nbsp;Schedules</a></p>
    </div>
</header>